<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div style="text-align: center;">
      <h1 style="font-size: 70px;">Onde estou?</h1>
      <h5 style="font-size: 25px;">Jogo educacional colaborativo de geografia.</h5>
    </div>
    <ul>
      <li><a routerLink="/game" class="round blue">Iniciar<span class="round">Vamos lá!.</span></a></li>
      <li><a href="#" class="round yellow">Estados<span class="round">Você conhece os estados brasileiros?</span></a></li>
      <li><a href="#" class="round red">Dicas<span class="round">Antes de ver as dicas, tente montar sozinho!</span></a></li>
    </ul> 
  </div>
  <div class="col-md-4"></div>
</div>