<div class="game-canvas">
	<div class="game-div" ngDraggable
	     (started)="onDragBegin($event)"
	     (stopped)="onDragEnd($event)"
	     (movingOffset)="onMoving($event)"
	     (endOffset)="onMoveEnd($event)">
	     <img src="/assets/Partes/Base.png" alt="Smiley face" class="country-image">
	</div>

	<div 
		class="game-div" ngDraggable
		(started)="onDragBegin($event)"
		(stopped)="onDragEnd($event)"
		(movingOffset)="onMoving($event)"
		(endOffset)="onMoveEnd($event)"
		*ngFor="let state of states"
		[ngStyle]="{'top': state.position.top + '%', 'left': state.position.left + '%'}">
		    <img src="{{'/assets/Partes/' + state.file}}" class="state-image">
	</div>

</div>