.gesture__zone {
    background: blue;
    height: 140px;
    width: 140px;
    left: 30px;
    top: 30px;
    position: absolute;
    font: 25px Helvetica, Arial, sans-serif;
    color: white;
    line-height: 140px;
    text-align: center;
}
